<nav>
    <a class="nav"  href="/" >Home </a> |
    <a class="nav" href="../posts" >Posts</a> |
    <a class="nav" href="../contactus" >Contact us</a>|
    <a class="nav" href="../addnewpost" >New post</a>
</nav>
   