body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: linear-gradient(90deg, lightblue 25%, white 25%, white 75%, lightblue 75%);
	display: inline-flex;
	flex-direction: column;
}

header {
	margin: 0;
	align-items: center;
	top: 0;
	height: 100px;
	padding-left: 30%;
	padding-right: 30%;
	background-color: white;
	margin-bottom: 5%;
	display: inline-flex;
	flex-direction: column;
	/** flex-direction: row-reverse; **/
	align-items: flex-end;
}

#contex-menu {
	display: none;
	background-color: lightblue;
	padding: 0 5%;
}

div > img {
	width: 50px;
	height: 50px;
}

main {
	display: inline-flex;
	flex-direction: column;
	background-color: white;
	margin-left: 35%;
	margin-right: 35%;
	flex-direction: column;
}

.boxes {
	padding: 5px;
	box-shadow: -2px 2px lightgray, 1px -2px lightgray;
	border: outset 1px;
    border-bottom:0.75em solid transparent;
}

.boxes ~ .boxes{
	margin-top: 10px;
}

img {
	height: 10%;
	width: 10%;
	padding-top: 5px;
	display: block;
	float: left;
}

.boxes > p{
	font-family: 'Open Sans', sans-serif;
}

button{
	padding-top: 5px;
	background-color: aqua;
}

.date {
	margin-right: 5%;
	font-size: 80%;
	color: grey;
}

.date + img {
	height: 60%;
	width: 100%;
	padding: 5px 0px 5px 0px;
}

#posts {
	list-style-type:none
}