footer {
    background-color: white;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    a {
      margin: 0.5rem 1vw;
      font-weight: 300;
      text-decoration: none;
      color: black;
    }
    a > i {
      //margin-right: 0.5ch;
      color: rgba(0, 0, 0, 0.3);
    }
}

.dark {
  background: rgb(15, 15, 15);
  background: -moz-linear-gradient(
    135deg,
    rgba(15, 15, 15, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(15, 15, 15, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(15, 15, 15, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f0f",endColorstr="#000000",GradientType=1);
  a {
    color: rgba(255, 255, 255, 1);
    i {
      color: rgba(255, 255, 255, 1);
    }
  }
}